{% extends "EzSummerBeerSiteBundle::pagelayout.html.twig" %}

{% block content %}
<section class="content-11 content-view-full content-type-beer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ ez_render_field(content, "name") }}</h1>
            </div>
            <div class="col-md-8">
                <div class="attribute-description">
                    <p>{{ ez_field_value(content, "description").text|nl2br }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <h5><span class="glyphicon glyphicon-info-sign"></span>{{ "ezbeer.beer.info"|trans({}, "beer") }}</h5>
                    <ul>
                        {% set abvMin = ez_field_value(content, "abv_min").value %}
                        {% set abvMax = ez_field_value(content, "abv_max").value %}
                        <li>{{ "ezbeer.beer.abv"|trans({}, "beer") }} {{ abvMin ~ "-" ~ abvMax ~ "%" }}</li>
                        {% set ibuMin = ez_field_value(content, "ibu_min").value %}
                        {% set ibuMax = ez_field_value(content, "ibu_max").value %}
                        <li>{{ "ezbeer.beer.ibu"|trans({}, "beer") }} {{ ibuMin ~ "-" ~ ibuMax }}</li>
                    </ul>
                </div>
            </div>
        </div>

        {% for beer in beerResult.searchHits %}
            {% set beerLocationId = beer.valueObject.id %}
            {{ render_esi(controller("ez_content:viewLocation", {"locationId": beerLocationId, "viewType": "line"})) }}

            <hr>

        {% endfor %}

        <div class="row">
            <div class="col-md-12  text-center">
                <div class="pagination">
                    <ul>
                        <li class="previous"><a href="#fakelink" class="glyphicon glyphicon-chevron-left"></a></li>
                        <li class="active"><a href="#fakelink">1</a></li>
                        <li><a href="#fakelink">2</a></li>
                        <li><a href="#fakelink">3</a></li>
                        <li><a href="#fakelink">4</a></li>
                        <li><a href="#fakelink">5</a></li>
                        <li><a href="#fakelink">6</a></li>
                        <li><a href="#fakelink">7</a></li>
                        <li><a href="#fakelink">8</a></li>
                        <li class="next"><a href="#fakelink" class="glyphicon glyphicon-chevron-right"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}
