{% extends "EzSummerBeerSiteBundle::pagelayout.html.twig" %}

{% block content %}
<section class="header-10-sub v-center bg-midnight-blue content-view-full content-type-landingpage">
    <div class="background">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>{{ "ezbeer.brand"|trans }}</h1>
                <p>
                    {{ "ezbeer.learn_ezpublish"|trans }}<br>
                    {{ "ezbeer.discover"|trans }}
                </p>
            </div>
        </div>
    </div>
    <a class="button outline" href="{{ path('ez_urlalias', {"locationId": locations.beers}) }}">Start</a>
</section>


<section class="content-8 text-center v-center">
    <div>
        <div class="container">
            <h3>{{ "ezbeer.latest_selection"|trans }}</h3>

            <div class="row">
            {% set selectionBeersValue = ez_field_value(last_selection, "beers") %}
            {% for contentId in selectionBeersValue.destinationContentIds %}
                {{ render_esi(controller("ez_content:embedContent", {"contentId": contentId, "viewType": "embed-home"})) }}

            {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-large btn-clear margin-40" href="{{ path("ez_urlalias", {"locationId": last_selection.contentInfo.mainLocationId}) }}">{{ "ezbeer.view_it_now"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
