{% extends "EzSummerBeerSiteBundle::pagelayout.html.twig" %}

{% block content %}
<section class="header-10-sub v-center bg-midnight-blue content-view-full content-type-landingpage">
    <div class="background">
        &nbsp;
    </div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>{{ "ezbeer.brand"|trans }}</h1>
                <p>
                    {{ "ezbeer.learn_ezpublish"|trans }}<br>
                    {{ "ezbeer.discover"|trans }}
                </p>
            </div>
        </div>
    </div>
    <a class="button outline" href="{{ path('ez_urlalias', {"locationId": locations.beers}) }}">Start</a>
</section>


<section class="content-8 text-center v-center">
    <div>
        <div class="container">
            <h3>{{ "ezbeer.latest_selection"|trans }}</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="{{ asset("bundles/ezsummerbeersite/images/delirium-medium.png") }}" alt="Brooklyn Lager" title="Brooklyn Lager">
                    </div>
                    <p>
                        A warm velvety soft character beer with a strong taste and long lasting bitter aftertaste - Delirium Nocturnum is the sister Belgian ale to Delirium Tremens. It is a Belgian ale that is strong, complex, with lots of flavour and character. Delirium Nocturnum is a triple fermented beer with re-fermentation in the bottle.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="{{ asset("bundles/ezsummerbeersite/images/brooklyn-lager-medium.png") }}" alt="Brooklyn Lager" title="Brooklyn Lager">
                    </div>
                    <p>
                        In the late 1800’s Brooklyn was one of the largest brewing centers in the country, home to more than 45 breweries. Lager beer in the “Vienna” style was one of the local favorites. It is amber-gold in color and displays a firm malt center supported by a refreshing bitterness and floral hop aroma.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-large btn-clear margin-40" href="beer-selection.html">{{ "ezbeer.view_it_now"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
